.contenu{
    border-color: grey;
    border-style: double;
    border-width: 3px 0px 3px 0px ;
}





.titre{
    color: aqua;
  font-size: xx-large;
font-family: fantasy; 
background-image: url('IMG/ titre.jpg');
background-repeat:repeat ;
background-position: center ;
font-weight: bold;
    

}

.titre,.contenu,.menu,.pied{
  text-align: center;  
    
}
.pied{
    
   background-image: url('IMG/ballon.png'); 
    height: 41px;
    
    background-repeat: no-repeat;
    
    background-position:center ;
    background-position-x: 300px;
    
}